<!---Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url('./assets/img/w1.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">First Slide</h2>
        <p class="lead">This is a description for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('./assets/img/w2.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Second Slide</h2>
        <p class="lead">This is a description for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('./assets/img/w3.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Third Slide</h2>
        <p class="lead">This is a description for the third slide.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!---Welcome-->
<div style="background-color: #f2f2f2;" class="pt-5 pb-5">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 wow slideInUp" data-wow-delay="0.3s">
        <h1 class="text-center">Welcome to our page</h1>
        <br/>
        <h3 class="text-center">This is just a demo. Hope you'll enjoy it!</h3>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>

<!---Who We Are-->
<div>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 wow slideInLeft" data-wow-delay="0.3s">
        <h3>Who we are...</h3>
        <hr>
        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
        <br/>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br/>
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="text-center col-lg-6 col-md-6 col-sm-6 mt-5 mb-5 wow slideInRight" data-wow-delay="0.3s">
        <img src="./assets/img/team.png" class="img-fluid" alt="Team"/>
      </div>
    </div>
  </div>
</div>