.mat-accent {
	.mat-slide-toggle-label {
		margin-top: 0.5em !important;
	}
}
.navbar {
	background-color: var(--primary-color);
	color: var(--text-color);
	&-brand,&-link {
		color: var(--text-color) !important;
	}
}
