<header>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a routerLink="/homepage" class="navbar-brand">MyDreamApp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item mt-2">
            <mat-slide-toggle  (change)="changeEvent($event)">Dark mode</mat-slide-toggle>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/welcome">
						My profile
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">

						<a class="dropdown-item" routerLink="/landingpage">Landing page</a>
						<a class="dropdown-item" routerLink="/homepage">Homepage</a>
						<a class="dropdown-item" routerLink="/register">Register</a>
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

</header>
