.mat-accent {
	.mat-slide-toggle-label {
		margin-top: 0.5em !important;
	}
	// .mat-slide-toggle-thumb {
	// 	color: var(--thumb-color);
	// }
	// .mat-slide-toggle-bar {
	// 	background-color: var(--bar-color);
	// }
}
.navbar {
	background-color: var(--nav-color);
	color: var(--text-color);
	&-brand,&-link {
		color: var(--text-color) !important;
	}
}
