/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// DECLARE ALL VARIABLE HERE
	$primary_color: black; // white
	$background_color: #efefef; // light grey
	$text_color: #2d2d2d; // dark grey

@import './root';
@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
    background-color: var(--background-color);
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1,h2,h3,h4,h5,h6,span,p {
	color: var(--text-color);
}